@{
    ViewData["Title"] = "Architecture";
}

<div class="text-center">
    <h1>Azure POC Architecture Design</h1>
    <h3>Yingting Huang</h3>
    <img src="/content/design.svg" alt="Azure POC Design" class="center" />    
</div>
